<!DOCTYPE html>
<html lang="es">
<head>
	<title>Mi Portafolio On Line</title>
	<meta charset="UTF-8"/>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<a href="#yo">Yo</a>
				</li>
				<li>
					<a href="#perfil">Perfil</a>
				</li>
				<li>
					<a href="#trabajo">Trabajo</a>
				</li>
				<li>
					<a href="#contacto">Contacto</a>
				</li>
			</ul>
		</nav>
		<figure>
			<img src="avatar.jpg" alt="Imagen Personal"/>
			<figcaption>
				<a href="http://www.twitter.com/jorgevc24" target="blank">@jorgevc24</a>
			</figcaption>
                        <p>
			Jorge Luis Villavicencio Correa
                        </p>
		</figure>
	</header>
	<section>
		<a href="http://www.twitter.com/jorgevc24" target="blank">@JorgeVC24</a>
		<a href="https://www.facebook.com/jorgeluis.villavicenciocorrea" target="blank">Jorge Luis Villavicencio Correa</a>
		<a href="http://www.youtube.com/user/anderwelt23" target="blank">mi canal de Youtube</a>

	</section>
	<section>

	</section>
	<footer>
            <p>
                Este es mi pie de pagina
            </p>
	</footer>
</body>
</html>